.constructor {	
	/*progressbar*/
	.progress {
		&__bar {
			margin-bottom: 30px;
			overflow: hidden;
			/*CSS counters to number the steps*/
			counter-reset: step;
			li {
				list-style-type: none;
				color: black;
				text-transform: uppercase;
				font-size: 16px;
				width: 20%;
				float: left;
				position: relative;
				text-align: center;
				&::before {
					content: counter(step);
					counter-increment: step;
					width: 20px;
					line-height: 20px;
					display: block;
					font-size: 16px;
					color: #333;
					background: white;
					border-radius: 3px;
					margin: 0 auto 5px auto;
				}
				/*progressbar connectors*/
				&::after {
					content: '';
					width: 100%;
					height: 2px;
					background: white;
					position: absolute;
					left: -50%;
					top: 9px;
					z-index: -1; /*put it behind the numbers*/
				}
				&:first-child {
					&::after {
						/*connector not needed before the first step*/
						content: none; 
					}
				}
				/*marking active/completed steps green*/
				/*The number of the step and the connector before it = green*/
				&.active {
					&::before {
						background: @blue;
						color: white;
					}
					&::after {
						background: @blue;
						color: white;
					}
				}
			}
		}
	}	
	
	.constructor__form {
		position: relative;		
	}	
	.step {
		//position: absolute;
		/*Hide all except first fieldset*/
		&:not(:first-of-type) {
			//display: none;
		}
		/*headings*/
		&__title {
			margin-bottom: 10px;
		}
		&__subtitle {
			margin-bottom: 20px;
		}	
		&__input-area {
			margin-bottom: 15px;
		}
		&__controls-area {
			text-align: center;
		}
	}
	
	.structure-type {
		&__item {
			display: inline-block;
			text-align: center;
			margin-bottom: 15px;
			width: 19.7%;
			vertical-align: top;
			@media @mobile {
				width: 100%;
			}
			label {
				padding: 15px;
				width: 100%;
				cursor: pointer;
				transition: all .3s;
				&:hover {
					background: lighten(@blue, 15%);
					.structure-type__title {
						color: #fff;
					}
					.structure-type__subtitle {
						color: #fff;
					}
				}
			}
			img {
				width: 100%;
				margin-bottom: 15px;
			}
			input {
				display: none;
				&:checked + label {
					background: @blue;
					.structure-type__title {
						color: @yellow;
					}
					.structure-type__subtitle {
						color: @yellow;
					}					
				}					
			}			
		}
		&__title {
			font-size: 15px;
		}
		&__subtitle {
			font-size: 12px;
			color: #757575;
		}
	}
	.dimension {
		&__item {
			padding: 0;	
			padding: 0 15px;
			&:first-child {
				padding-left: 0;
			}
			&:nth-child(2) {
				
			}
			&:last-child {
				padding-right: 0;
			}
		}		
		&__header {
			text-align: center;
			margin-bottom: 15px;
			flex-basis: 100%;
		}
		&__button {
			width: 40px;
			height: 40px;
			position: relative;
			background: #fff;
			color: #000;
			border: 2px solid #eee;
			border-radius: 3px;
			transition: all .3s;
			outline: none;
			&::before {
				content: '-';
				display: block;
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0;
				left: -1px;
				font-size: 50px;
				line-height: 20px;
				color: #666;
			}
			&:last-child {
				&::before {
					content: '+';
					top: 3px;
				}
			}
			&:hover {
				background: @blue;
				&::before {
					color: #fff;
				}
			}
			&:active {
				background: lighten(@blue, 15%);
			}
		}
		&__settings {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 15px;
			input[type="number"] {
				flex-grow: 1;
				margin: 0 15px;
				text-align: center;
				border: 2px solid #eee;
				border-radius: 3px;
				outline: none;
				font-size: 24px;
			}
		}
		&__slider {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			margin-bottom: 15px;
			input[type="range"] {
				flex-grow: 1;
				margin: 0 15px;
				-webkit-appearance: none;
				outline: none;
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 20px;
					height: 20px;
					background: #ccc;
					border-radius: 3px;						
					transition: all .3s;
				}
				&::-webkit-slider-runnable-track {
					-webkit-appearance: none;
					cursor: pointer;
					background: #eee;
					border-radius: 3px;					
					transition: all .3s;
				}
				&:hover {
					&::-webkit-slider-thumb {
						background: @blue;
					}
					&::-webkit-slider-runnable-track {
						background: #ddd;
					}
				}
			}
		}
		&__limit {
			display: inline-block;
			width: 55px;
			text-align: center;
		}
		.snow-area {
			input {
				display: none;
				&:checked + label {
					background: #fff;
					border-color: @blue;
				}
			}
			label {
				display: inline-block;
				width: 40px;
				height: 40px;
				background: #eee;
				border: 2px solid #ddd;
				border-radius: 3px;
				text-align: center;
				line-height: 40px;
				cursor: pointer;
			}
		}
	}
	.color {
		&__item {
			display: inline-block;
			padding: 0;
		}
		&__button {
			height: 30px;
			width: 100%;
			padding: 0;
			position: relative;
		}
		&__span {
			display: inline-block;
			width: 30px;
			height: 30px;
			background: #000;
			position: absolute;
			top: 0;
			left: 0;
		}
		&__container {
			top: 30px;
			left: 0;
		}
		&__input {
			display: none;
		}
		&__label {
			display: inline-block;
			width: 32.6%;
			height: 30px;
			border: 1px solid #eee;
			font-size: 0;
			&--ral-5012 {
				background: #3B83BD;
			}
			&--ral-1014 {
				background: #E1CC4F;
			}
			&--ral-1015 {
				background: #E6D690;
			}
			&--ral-1018 {
				background: #F8F32B;
			}
			&--ral-3003 {
				background: #9B111E;
			}
			&--ral-5005 {
				background: #1E2460;
			}
			&--ral-6002 {
				background: #2D572C;
			}
			&--ral-7004 {
				background: #969992;
			}
			&--ral-7047 {
				background: #D0D0D0;
			}
			&--ral-9002 {
				background: #E7EBDA;
			}
			&--ral-9003 {
				background: #F4F4F4;
			}
			&--ral-9006 {
				background: #A5A5A5;
			}
			&--rr-20 {
				background: #f1ebe4;
			}
			&--rr-21 {
				background: #b7bcbe;
			}
			&--rr-35 {
				background: #1c3d5d;
			}			
		}
	}
	.result {
		&__value {
			font-weight: bold;
			font-size: 16px;
		}
	}
	.info {
		&__item {
			padding: 0;
			text-align: center;
			margin-bottom: 15px;
			input {
				display: block;
				width: 100%;
				&[type="file"] {
					display: inline;
				}
			}
			textarea {
				width: 100%;
				resize: vertical;
			}
		}
	}
	.control-button {
		padding: 15px 25px;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		background: @blue;
		border: none;
		color: #fff;
		outline: none;
		&--submit {
			background: @red;
		}
	}
	select {
		-webkit-appearance: none;
		padding: 5px 15px;
		border: 2px solid #eee;
		border-radius: 3px;
		box-shadow: none;
		background: transparent;
		background-image: none;
	}
}