.delivering {
	.page-heading {
		background-image: url(img/pattern.png), url(img/services/delivering/header-bg.jpg);
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		&__wrapper {
			height: 100%;
			justify-content: flex-start;
			@media @m {
				padding: 0 15px;
				height: auto;
				background: none;
			}
		}
		&__container {
			width: 500px;
			height: 100%;
			padding: 15px 0;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			@media @m {
				width: 100%;
				height: auto;
			}
		}
		&__header {
			font-size: 30px;
			color: #fff;
			text-transform: uppercase;
			margin: 0;
			margin-bottom: 40px;			
			font-family: 'Open Sans Condensed', sans-serif;				
			font-weight: bold;
			span {
				color: #000;
			}
		}
		&__text {
			font-size: 16px;
			color: #fff;
			margin: 0;
			margin-bottom: 50px;
			@media @m {
				margin-bottom: 45px;
			}
		}
		&__link {
			display: inline-block;
			width: 220px;
			height: 60px;
			font-size: 16px;
			text-align: center;
			line-height: 60px;
			color: #fff;
			border: 1px solid #fff;
			text-decoration: underline;
			transition: .3s;
			&--special {
				text-decoration: none;
				text-transform: uppercase;
				background: @yellow;
				color: #000;
				border-color: @yellow;
				margin-left: 40px;
				&:hover {
					border-color: #fff;
				}
				@media @m {
					margin-left: 0;
				}
			}
			&:hover {
				background: #fff;
				color: #000;
			}
			@media @m {
				display: block;
				width: 100%;				
				margin-bottom: 15px;
			}
		}
		@media @m {
			height: auto;
		}
	}	
	.deliver {
		&__wrapper {
			
		}
		&__text {
			padding: 50px 0 65px;
			p {
				margin-bottom: 35px;
				font-size: 16px;
				color: #231f20;
			}
			@media @m {
				padding: 25px 15px 15px;
			}
		}
	}
}

