.home {
	
}
.alfa-slider {
	&__wrapper {
		margin: 0;
	}
	&__item {
		min-height: 100vh;
		background: #eee no-repeat;
		background-size: cover;
		&--1 {
			background-image: url(img/header/slider/1.jpg);
		}
		&--2 {
			background-image: url(img/header/slider/2.jpg);
		}
		&--3 {
			background-image: url(img/header/slider/3.jpg);
		}
		&--4 {
			background-image: url(img/header/slider/4.jpg);
		}
		&--5 {
			background-image: url(img/header/slider/5.jpg);
		}
		&--6 {
			background-image: url(img/header/slider/6.jpg);
		}
		&--7 {
			background-image: url(img/header/slider/7.jpg);
		}
		&--8 {
			background-image: url(img/header/slider/8.jpg);
		}
		&--9 {
			background-image: url(img/header/slider/9.jpg);
		}
		&--10 {
			background-image: url(img/header/slider/10.jpg);
		}		
	}
	&__content {
		position: relative;
		height: 100vh;
		padding-bottom: 160px;
	}
	&__container {
		position: absolute;
		bottom: 175px;
		width: 75%;
		left: 65px;
		@media @m {
			top: 100px;
			left: 0;
			width: 100%;
			padding: 15px;
			text-align: center;
		}
	}
	&__header {
		font-size: 60px;
		margin: 0;
		margin-bottom: 40px;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 5px black;
		@media @m {
			font-size: 30px;
		}
	}
	&__text {
		font-size: 16px;
		color: #fff;
		margin: 0;
		margin-bottom: 30px;
		text-shadow: 1px 1px 5px black;
		@media @m {
			font-size: 12px;
		}
	}
	&__link {
		display: inline-block;
		padding: 20px 36px;
		text-align: center;
		background: @yellow;
		color: @black;
		text-transform: uppercase;
		transition: .3s;
		&:hover {
			text-decoration: none;
			background: lighten(@yellow, 15%);			
		}
		&:focus {
			text-decoration: none;
			outline: none;
		}
		@media @m {
			background: rgba(255, 163, 0, 0.75);
		}
	}
	.slick-dots {
		bottom: 165px;
		position: absolute;
		button {
			border: 2px solid @yellow;
			border-radius: 50%;
			transition: .3s;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
			&::before {
				content: '';
			}
		}
		.slick-active {
			button {
				background: @yellow;
			}
		}
		@media @m {
			bottom: 15px;
		}
	}
	.slick-arrow {
		z-index: 1;
		position: absolute;
		width: 50px;
		height: 100px;
		top: 50%;
		margin-top: -50px;
		background: url(img/header/slider/arrow-left.png) no-repeat center;
		background-size: contain;
		&::before {
			content: '';
			display: none;
		}
		&.slick-prev {
			left: 0;
			z-index: 1;			
			left: 15px;
			@media @m {
				left: 0;
			}
		}
		&.slick-next {
			background-image: url(img/header/slider/arrow-right.png);
			right: 0;
			right: 15px;
			@media @m {
				right: 0;
			}
		}
		@media @m {
			height: 50px;
			top: 100%;
			margin-top: -35px;
			background-size: 15px;
		}
	}
}