.products {
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		height: 820px;
		position: relative;
		flex-grow: 1;
		display: inline-block;
		background: url(img/products/1.jpg) no-repeat;
		background-size: cover;
		&:nth-child(2) {
			background-image: url(img/products/2.jpg);
		}
		&:nth-child(3) {
			background-image: url(img/products/3.jpg);
		}
		&:nth-child(4) {
			background-image: url(img/products/4.jpg);
		}
		&:nth-child(5) {
			background-image: url(img/products/5.jpg);
		}
		&:nth-child(6) {
			background-image: url(img/products/6.jpg);
		}
		@media @mobile {
			width: 440px;
			display: block;
			margin: 0 auto 15px;
		}
		&:hover {
			.products__text {
				max-height: 210px;
				padding: 15px;
			}
			.products__header {
				&::before {					
					top: 86%;
				}
			}
		}
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 50%);
			transition: all .3s;
		}
		&--big {
			width: 100%;			
			height: 600px;
			@media @mobile {
				width: 440px;
			}
		}
	}
	&__inner {	
		display: inline-block;
		padding: 15px;
		position: absolute;
		bottom: 15px;
		width: 100%;
		transition: all .3s;
		&:hover {
			text-decoration: none;
		}
	}
	&__text {
		margin: 0;
		padding: 0 15px;
		color: #fff;
		text-align: justify;
		background: rgba(0, 0, 0, 0.66);
		max-height: 0;
		overflow: hidden;
		transition: all .3s;
		@media @mobile {
			min-height: 137px;
			padding: 15px;
		}
	}
	&__header {
		color: #000;
		text-align: center;
		margin: 0;
		background: #fff;
		padding: 15px;
		position: relative;
		transition: all .3s;
		z-index: 1;
		&::before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: #fff;
			position: absolute;
			left: 50%;
			margin-left: -8px;
			top: -8px;
			transform: rotate(45deg);
			transition: all .3s;
			z-index: -1;
			@media @mobile {
				top: 86%;
			}
		}
	}
}