.product {
	.heading {
		height: 380px;
		text-align: center;
		padding-top: 130px;
		h1 {
			text-transform: uppercase;
			margin: 0;
			color: #fff;
			span {
				color: @red;
			}
		}
		h2 {
			margin: 0;
			color: #fff;
		}
		background: url(img/type-1/main-bg.jpg) no-repeat center;
		background-size: cover;
	}
	.features {
		&__wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			text-align: center;
			width: 20%;
			padding: 15px;
			p {
				font-size: 18px;
			}
			img {
				width: 160px;
				height: 160px;
				background: #eee;
				border-radius: 50%;
				margin-bottom: 15px;
			}
			@media @mobile {
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
	.advantages {
		&__wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			text-align: center;			
			width: 20%;
			padding: 15px;
			p {
				font-size: 18px;
			}
			img {
				width: 140px;
				height: 140px;
				background: #eee;
				border-radius: 50%;
				margin-bottom: 15px;
			}
			@media @mobile {
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
	.showcase {
		&__wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			width: 20%;
			height: 200px;
			position: relative;	
			overflow: hidden;
			button {
				width: 100%;
				height: 100%;
				padding: 0;	
				img {
					width: 100%;
					height: 100%;
				}
			}	
			&:hover {
				.showcase__mask {
					transform: translateY(0);
					background: rgba(0, 0, 0, 0.5);
				}
			}
		}
		&__mask {
			background: rgba(0, 0, 0, 0.1);
			color: #fff;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;			
			padding: 15px;
			transform: translateY(-200px);
			transition: .3s;
			pointer-events: none;
		}
		&__header {
			text-align: center;
			font-size: 16px;
			margin: 0;
			margin-bottom: 10px;
		}
		&__text {
			text-align: justify;
			font-size: 14px;
			margin: 0;
			line-height: 18px;
		}
	}
	.mw {
		&__content {
			border-radius: 3px;
		}
		&__dialog {
			top: 150px;
		}
		&__header {
			text-align: center;
		}
		&__close {
			width: 30px;
			height: 30px;
			background: #000;
			position: absolute;
			top: -30px;
			right: -30px;
			opacity: 1;
			border-radius: 50%;
			border: 2px solid #fff;
			text-align: center;
			span {
				text-shadow: none;
				color: #fff;
			}
		}
		&__body {			
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
		&__column {
			&--left {
				border-right: 1px solid #ddd;
				width: 60%;
			}
			&--right {
				width: 40%;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-wrap: wrap;
			}
		}
		&__item {
			padding: 15px;
			border: 1px solid #ddd;
			border-top: none;
			border-left: none;
			width: 100%;
			&--small {
				width: 50%;
			}
			p:first-child {
				font-weight: bold;
			}
		}
	}
}