.production {
	&__showcase {
		.nav-tabs {
			li {
				margin-bottom: -1px;
				a {
					min-height: 80px;
					margin-bottom: 0 !important;				
				}
				&.active {
					a {
						border-bottom: none !important;
					}
				}
			}			
		}
		.tab-content {
			border: 1px solid #ddd;
			border-top: none;
		}
	}
}