.product {
	.heading {
		height: 380px;
		text-align: center;
		padding-top: 130px;
		h1 {
			text-transform: uppercase;
			margin: 0;
			color: #fff;
			span {
				color: @red;
			}
		}
		h2 {
			margin: 0;
			color: #fff;
		}
		background: url(img/type-1/main-bg.jpg) no-repeat center;
		background-size: cover;
	}
	.features {
		&__wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			text-align: center;
			width: 20%;
			padding: 15px;
			p {
				font-size: 18px;
			}
			img {
				width: 160px;
				height: 160px;
				background: #eee;
				border-radius: 50%;
				margin-bottom: 15px;
			}
			@media @m {
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
	.advantages {
		&__wrapper {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			text-align: center;			
			width: 20%;
			padding: 15px;
			p {
				font-size: 18px;
			}
			img {
				width: 140px;
				height: 140px;
				background: #eee;
				border-radius: 50%;
				margin-bottom: 15px;
			}
			@media @m {
				width: 100%;
				margin-bottom: 15px;
			}
			opacity: 0;
			transform: scale(0);
		}
	}	
}

.rotateY {
	transform: rotateY(360deg);
	transition: all .3s ease;
}
.fadeIn {
	opacity: 1 !important;
	transform: scale(1) !important;
	transition: all .3s ease !important;
}
//.translateY {
//	opacity: 1 !important;
//	transform: translateY(0) !important;
//	transition: all .9s ease !important;
//}

.scheme {
	&__wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		height: 650px;
		padding: 30px 0;
	}
	&__left {
		width: 30%;
		border-right: 1px solid #ddd;
	}
	&__right {
		width: 70%;
		position: relative;
	}
	&__header {
		text-transform: uppercase;
		margin: 0;
		span {
			color: @red;
		}
	}
	&__scheme {
		width: 400px;
		height: 400px;
		background: #eee;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -200px;
		margin-top: -200px;
		opacity: 0;
	}
	&__img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 5px solid #fff;
		background: #ddd;
		position: absolute;
		opacity: 0;
		&:nth-of-type(1) {			
			bottom: 0;
			left: 0;
		}
		&:nth-of-type(2) {			
			bottom: 35%;
			left: -65px;
		}
		&:nth-of-type(3) {			
			bottom: 70%;
			left: -30px;
		}
		&:nth-of-type(4) {			
			top: -50px;
			left: 20%;
		}
		&:nth-of-type(5) {			
			top: -50px;
			right: 20%;
		}
		&:nth-of-type(6) {			
			bottom: 70%;
			right: -30px;
		}
		&:nth-of-type(7) {			
			bottom: 35%;
			right: -65px;
		}
		&:nth-of-type(8) {			
			bottom: 0;
			right: 0;
		}
		&:nth-of-type(9) {			
			bottom: -65px;
			left: 50%;
			margin-left: -40px;
		}		
	}
	&__step {
		position: absolute;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		opacity: 0;
		&:nth-of-type(10) {			
			bottom: 20px;
			left: -120px;
		}
		&:nth-of-type(11) {			
			bottom: 40%;
			left: -190px;
		}
		&:nth-of-type(12) {			
			bottom: 75%;
			left: -160px;
		}
		&:nth-of-type(13) {			
			top: -35px;
			left: -12%;
		}
		&:nth-of-type(14) {			
			top: -35px;
			right: -12%;
		}
		&:nth-of-type(15) {			
			bottom: 75%;
			right: -160px;
		}
		&:nth-of-type(16) {			
			bottom: 40%;
			right: -190px;
		}
		&:nth-of-type(17) {			
			bottom: 20px;
			right: -130px;
		}
		&:nth-of-type(18) {			
			bottom: -110px;
			left: 50%;
			margin-left: -60px;
		}		
	}
	&__number {
		color: @red;
		font-size: 25px;
		padding-right: 10px;
		line-height: 22px;
	}
	&__text {
		width: 100px;
		line-height: 14px;
	}
}