.site-footer {
	&__info {		
		padding: 15px 0;
		background: #000;
	}
	&__nav {
		.menu {
			ul {
				list-style: none;				
				padding: 0;
				margin: 0;
				.page_item {		
					a {
						color: #eee;
						display: block;
						padding: 5px 0;
					}
					&_has_children > a {
						display: none;
					}
				}
				.current_page_item {
					a {
						color: @yellow;
					}
				}
			}
		}
	}
	&__address {
		color: #fff;
	}
	&__map {
		height: 400px;
	}
	&__copy {
		padding: 25px 0;
	}
}

