.site-footer {
	&__info {		
		padding: 15px 0;
		background: #000;
	}
	&__nav {
		ul {
			list-style: none !important;
			padding: 0;
			margin: 0;
			li {
				margin-bottom: 5px;
			}
		}
	}
	&__address {
		color: #fff;
	}
	&__map {
		height: 400px;
	}
	&__copy {
		padding: 25px 0;
	}
}

.scrollup {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 45px;
	height: 45px;
	z-index: 1000;
	opacity: 0;
	transition: .3s;
	&--visible {
		opacity: 1;
	}
}